@media only screen and (max-width: 576px) {
  body {
  }
  #wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  #wrapper section {
    display: flex;
    flex-flow: column-reverse wrap;
  }
  .style1 div {
    min-width: 100%;
    text-align: center;
  }
  #wrapper section div:last-child {
    height: 20rem;
    width: 100%;
  }
  .banner.style1 .content {
    padding: 2rem;
  }
  .banner.style1 .content p.major,
  .spotlight.style1 .content {
    font-size: 75%;
  }
  .content h1 {
    font-size: 160%;
  }
  .button.wide {
    min-width: 17rem;
  }
  .spotlight.style1 .content {
    width: 100%;
    margin: 0rem 1.5rem 0rem -1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
  }

  .spotlight.style1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
